$introAndEmailBackgroundColor: hsl(217, 28%, 15%);
$mainBackgroundColor: hsl(218, 28%, 13%);
$footerBackgroundColor: hsl(216, 53%, 9%);
$testimonialBackgroundColor: hsl(219, 30%, 18%);
$callToActionGradientColor1: hsl(176, 68%, 64%);
$callToActionGradientColor2: hsl(198, 60%, 50%);
$errorColor: hsl(0, 100%, 63%);
$whiteColor: hsl(0, 0%, 100%);
$fontSize: 14px;
$headingFont: 'Raleway', sans-serif;
$bodyFont: 'Open Sans', sans-serif;
$weight1: 400;
$weight2: 700;

