$introAndEmailBackgroundColor: hsl(217, 28%, 15%);
$mainBackgroundColor: hsl(218, 28%, 13%);
$footerBackgroundColor: hsl(216, 53%, 9%);
$testimonialBackgroundColor: hsl(219, 30%, 18%);
$callToActionGradientColor1: hsl(176, 68%, 64%);
$callToActionGradientColor2: hsl(198, 60%, 50%);
$errorColor: hsl(0, 100%, 63%);
$whiteColor: hsl(0, 0%, 100%);
$fontSize: 14px;
$headingFont: 'Raleway', sans-serif;
$bodyFont: 'Open Sans', sans-serif;
$weight1: 400;
$weight2: 700;

*
{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    
}

body
{
    overflow-x: hidden;
}

.main
{
    background-color: $mainBackgroundColor;
    width: 100vw;
    .intro
    {
        display: block;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        width: 100%;
        .intro-container
        {
            background-color: $introAndEmailBackgroundColor;
            position: relative;
            width: 100%;
            .intro-navbar
            {
                align-items: center;
                display: flex;
                justify-content: space-between;
                padding: 30px 5px 0px 15px;
                width: 100%;
                .links
                {
                    display: flex;
                    list-style: none;
                    .navbar-link
                    {
                        color: $whiteColor;
                        cursor: pointer;
                        font-family: $bodyFont;
                        font-size: $fontSize;
                        font-weight: $weight1;
                        padding-right: 10px;
                        &:hover
                        {
                            font-weight: $weight2;
                            text-decoration: underline;
                        }
                    }
                }
                .navbar-logo
                {
                    height: 50px;
                    width: 150px;
                }
            }
            .intro-hero-image
            {
                display: block;
                position: relative;
                margin-left: auto;
                margin-right: auto;
                top: 50px;
                width: 350px;
                z-index: 1;
            }
            .intro-mobile-background-pattern
            {
                display: block;
                width: 100%;
            }
            .intro-desktop-background-pattern
            {
                display: none;
            }
        }
        #intro-text-1
        {
            color: $whiteColor;
            display: block;
            font-family: $headingFont;
            font-size: 1.5em;
            font-weight: $weight2;
            padding: 0px 15px 0px;
            position: relative;
            margin-left: auto;
            margin-right: auto;
            margin-top: -50px;
            width: 350px;
            text-align: center;
        }
        #intro-text-2
        {
            color: $whiteColor;
            display: block;
            font-family: $bodyFont;
            font-size: $fontSize;
            font-weight: $weight1;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
            text-align: center;
            width: 350px;
        }
        #get-started-button
        {
            background-image: linear-gradient(to right, $callToActionGradientColor1 , $callToActionGradientColor2);
            border: none;
            border-radius: 20px;
            color: $whiteColor;
            cursor: pointer;
            display: block;
            font-family: $headingFont;
            font-size: $fontSize;
            font-weight: $weight2;
            margin-left: auto;
            margin-top: 20px;
            margin-right: auto;
            padding: 10px 80px;
            &:hover
            {
                background-color: $callToActionGradientColor1;
                background-image: none;
            }
        }
    }
    .cards
    {
        margin-top: 25px;
        width: 100%;
        .card
        {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 75px;
            text-align: center;
            width: 325px;
            img
            {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
            .card-heading
            {
                color: $whiteColor;
                font-family: $headingFont;
                font-size: 1.25rem;
                font-weight: $weight2;
                margin-top: 25px;
            }
            .card-text
            {
                color: $whiteColor;
                font-family: $bodyFont;
                font-size: $fontSize;
                font-weight: $weight1;
                margin-top: 10px;
            }
        }
    }
    .hero-card
    {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
        width: 350px;
        .hero-image-2
        {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 75%;
        }
        .hero-card-heading
        {
            color: $whiteColor;
            font-family: $headingFont;
            font-size: 1.25rem;
            font-weight: $weight2;
            margin-top: 50px;
            text-align: left;
            width: 325px;
        }
        #hero-card-text
        {
            color: $whiteColor;
            display: block;
            font-family: $bodyFont;
            font-size: $fontSize;
            font-weight: $weight1;
            margin-top: 20px;
            text-align: left;
            width: 325px;
        }
        .works-container
        {
            align-items: center;
            border-bottom: 2px solid $whiteColor;
            cursor: pointer;
            display: flex;
            margin-top: 20px;
            padding-bottom: 2.5px;
            width: fit-content;
            &:hover
            {
                #works
                {
                    font-weight: $weight2;
                }
            }
            #works
            {
                color: $whiteColor;
                font-family: $bodyFont;
                font-size: $fontSize;
                font-weight: $weight1;
            }
            .arrow
            {
                margin-left: 5px;
            }
        }
    }
    .quotes
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
        padding-bottom: 300px;
        position: relative;
        width: 300px;
        #card-1
        {
            margin-top: 0px;
        }
        .quote-card
        {
            background-color: $testimonialBackgroundColor;
            border-radius: 10px;
            display: block;
            padding: 30px 20px 20px;
            margin-top: 50px;
            width: 300px;
            .quote-text
            {
                color: $whiteColor;
                font-family: $bodyFont;
                font-size: $fontSize;
                font-weight: $weight1;
                line-height: 1.5rem;
            }
            .profile-container
            {
                align-items: center;
                display: flex;
                margin-top: 20px;
                .profile-image
                {
                    border-radius: 50%;
                    height: 25px;
                    width: 25px;
                }
                .quotes-flex-container
                {
                    display: flex;
                    flex-direction: column;
                    margin-left: 10px;
                    .profile-name
                    {
                        color: $whiteColor;
                        font-family: $bodyFont;
                        font-size: $fontSize;
                        font-weight: $weight2;
                    }
                    .profile-title
                    {
                        color: $whiteColor;
                        font-family: $bodyFont;
                        font-size: 10px;
                        font-weight: $weight1;
                    }
                }
            }
        }
        .quote-image
        {
            position: relative;
            top: 5px;
            left: 5px;
            height: 25px;
            width: 35px;
        }
    }
    .footer
    {
        background-color: $footerBackgroundColor;
        padding-bottom: 50px;
        position: relative;
        width: 100%;
        .footer-card
        {
            background-color: $introAndEmailBackgroundColor;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: -75px;
            top: -150px;
            padding: 50px 30px 30px;
            position: relative;
            text-align: center;
            width: 350px;
            .footer-card-header
            {
                color: $whiteColor;
                font-family: $headingFont;
                font-size: 1.25rem;
                font-weight: $weight2;
            }
            .footer-card-text
            {
                color: $whiteColor;
                font-family: $bodyFont;
                font-size: $fontSize;
                font-weight: $weight1;
                margin-top: 25px;
            }
            .email-input-container
            {
                background-color: $whiteColor;
                border-radius: 20px;
                display: flex;
                padding-bottom: 10px;
                padding-left: 20px;
                padding-top: 10px;
                margin-top: 25px;
                .email-input
                {
                    border: none;
                    font-family: $bodyFont;
                    font-size: $fontSize;
                    font-weight: $weight1;
                    height: 20px;
                    width: 140px;
                    &:focus
                    {
                        outline: none;
                    }
                }
            }
            .get-started-button
            {
                background-image: linear-gradient(to right, $callToActionGradientColor1 , $callToActionGradientColor2);
                border: none;
                border-radius: 20px;
                color: $whiteColor;
                cursor: pointer;
                display: block;
                font-family: $headingFont;
                font-size: $fontSize;
                font-weight: $weight2;
                margin-top: 25px;
                padding: 10px 75px;
                &:hover
                {
                    background-color: $callToActionGradientColor1;
                    background-image: none;
                }
            }
        }
        .footer-flex-container-4
            {
                img
                {
                    display: none;
                }
        }
        .footer-container
        {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 350px;
            .footer-logo
            {
                margin-left: 10px;
            }
            .footer-flex-container
            {
                align-items: flex-start;
                display: flex;
                margin-top: 20px;
                .location-icon
                {
                    height: 15px;
                    width: 20px;
                }
                .footer-text
                {
                    cursor: pointer;
                    color: $whiteColor;
                    font-family: $bodyFont;
                    font-size: $fontSize;
                    font-weight: $weight1;
                    margin-left: 15px;
                }
            }
            #footer-list
            {
                cursor: pointer;
                color: $whiteColor;
                font-family: $bodyFont;
                font-size: $fontSize;
                font-weight: $weight1;
                margin-top: 50px;
                list-style: none;
                #footer-item
                {
                    cursor: pointer;
                    margin-top: 10px;
                    &:hover
                    {
                        font-weight: $weight2;
                        text-decoration: underline;
                    }
                }
            }
            .footer-icons-row
            {
                display: flex;
                margin-left: auto;
                margin-right: auto;
                margin-top: 50px;
                width: fit-content;
                .icon-container
                {
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 2px solid $whiteColor;
                    border-radius: 50%;
                    padding: 10px;
                    margin-right: 5px;
                    margin-left: 5px;
                    i
                    {
                        color: $whiteColor;
                    }
                }
            }
        }
    }
}

#error-message
{
    color: $errorColor;
    display: none;
    font-family: $bodyFont;
    font-size: 12px;
    font-weight: $weight1;
    margin-left: 20px;
}

.footer-flex-container-5
{
    text-align: left;
}

@media screen and (min-width: 1024px)
{
    .main 
    {
        .intro
        {
            .intro-container
            {
                .intro-navbar
                {
                    display: flex;
                    margin-left: auto;
                    margin-right: auto;
                    padding-left: 50px;
                    padding-right: 20px;
                    padding-top: 50px;
                    padding-bottom: 20px;
                    height: fit-content;
                    width: 1000px;
                    .links
                    {
                        .navbar-link
                        {
                            font-size: 1.25rem;
                            padding-right: 30px;
                        }
                    }
                }
                .intro-hero-image
                {
                    top: 0px;
                    width: 700px;
                }
                .intro-mobile-background-pattern
                {
                    display: none;
                }
                .intro-desktop-background-pattern
                {
                    display: block;
                    height: 500px;
                    position: relative;
                    top: -150px;
                    width: 100%;
                }
            }
            #intro-text-1
            {
                font-size: 2rem;
                margin-top: -350px;
                width: 700px;
            }
            #intro-text-2
            {
                position: relative;
                width: 700px;
            }
            #get-started-button
            {
                display: block;
                position: relative;
            }
        }
        .cards
        {
            
            display: block;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            margin-top: 100px;
            width: 900px;
            .desktop-grid
            {
                display: grid;
                grid-template: 1fr 1fr / 1fr 1fr;
                place-items: center center;
                position: relative;    
                width: 100%;
                .card
                {
                    margin: 0px;
                }
            }
        }
        .hero-card
        {
            align-items: center;
            display: flex;
            flex-direction: row;
            width: 1000px;
            .hero-image-2
            {
                margin: 0px;
                width: 500px;
            }
            .hero-flex-container
            {
                width: 500px;
            }
            .hero-card-heading
            {
                font-size: 1.75rem;
                margin: 0px;
                padding: 0px;
                padding-right: 250px;
                width: fit-content;
            }
            #hero-card-text
            {
                margin: 0px;
                margin-top: 20px;
                padding: 0px;
                width: fit-content;
            }
            .works-container
            {
                margin: 0px;
                margin-top: 20px;
            }
        }
        .quotes
        {
            display: flex;
            flex-direction: row;
            height: 500px;
            justify-content: center;
            padding: 0px;
            padding-bottom: 300px;
            position: relative;
            width: 100vw;
            #card-1
            {
                margin-top: auto;
            }
            .quote-image
            {
                position: relative;
                top: -20px;
                left: 40px;
                height: 40px;
                width: 50px;
            }
            .quote-card
            {
                padding: 0px;
                padding-top: 40px;
                padding-left: 20px;
                padding-right: 20px;
                padding-bottom: 20px;
                position: relative;
                margin: 0px;
                margin-top: auto;
                margin-bottom: auto;
                margin-right: 20px;
                width: 300px;
                .quote-text
                {
                    font-size: 12px;
                    line-height: 20px;
                }
                .profile-container
                {
                    .quotes-flex-container
                    {
                        .profile-name
                        {
                            font-size: 12px;
                        }
                        .profile-title
                        {
                            font-size: 8px;
                        }
                    }
                }
            }
        }
        .footer
        {
            padding-bottom: 100px;
            .footer-card
            {
                top: -116px;
                margin-bottom: 0px;
                width: 700px;
                .footer-flex-container-2
                {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 25px;
                }
                .email-input-container
                {
                    margin: 0px;
                    padding: 10px 130px 10px 20px;
                }
                .get-started-button
                {
                    margin: 0px;
                    height: 40px;
                }
            }
            .footer-container
            {
                display: flex;
                margin-top: 25px;
                justify-content: space-between;
                width: 1000px;
                .footer-logo
                {
                    display: none;
                    margin-left: 0px;
                    height: 50px;
                    width: 200px;
                }
                .footer-flex-container
                {
                    margin: 0px;
                }
                #footer-list
                {
                    margin: 0px;
                }
                .footer-icons-row
                {
                    margin: 0px;
                    .icon-container
                    {
                        height: 30px;
                        width: 30px;
                    }
                }
                .footer-flex-container-3
                {
                    width: 220px;
                }
            }
            .footer-flex-container-4
            {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 1000px;
                img
                {
                    display: block;
                }
            }
        }
    }

    #text-1
    {
        margin-top: 10px;
    }

    #image-1
    {
        margin-top: 10px;
    }
}